.container {
    width: 400px;
    margin: 0 auto;
    display: flex;
}

.container > li > a{
    display: flex;
    padding: 5px;
    color: black;
}

.container > li > a:hover {
    background-color: bisque;
}