.container {
    width: 400px;
    margin: 0 auto;
    display: flex;
}

.container > li > *{
    display: flex;
    padding: 5px;
    color: black;
}
.container > li {
    display: flex;
}
.container > li > *:hover {
    background-color: bisque;
}